* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica;
    margin: 0%;
    padding: 0%;
}
form {
    width: 50%;
    align-content: center;
    left: 40%;
    margin-top: 30px;
    margin-left: 40%;
}
form input{
    background-color: inherit;
    color: inherit;
}
textarea{
    background-color: inherit;
    color: inherit;
}
body {
    background-color: #a6a6a6;
    opacity: 70%;
    color: black;
}
.dark {
    background-color: #000;
    opacity: 70%;
    color: #a6a6a6;
}
.header {
    background-color: inherit;
    padding: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: left;
}
.foot {
    padding: 20px 0;
    text-align: center;
    background : inherit;
    margin: 0px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar {
    text-align: right;
}
#logo {
    height: 80px;
    display: flex;
    align-items: left;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
    position: relative;
    overflow: hidden;
}
.navbar ul li a {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
}
.navbar ul li a :hover{
    padding: 10px;
    border-radius: 50%;
    background-color: gray;
}
.column {
    float: left;
    width: 50%;
    padding: 15px;
    padding-top: 50px;
}
#me img {
    border-radius: 30%;
    filter: saturate(150%);
    width: 100%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.border {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 4px dashed tomato;
    padding: 8px;
    border-radius: 10%;
    width: 60%;
}
h1 {
    text-align: center;
    border: 10;
    margin-top: 30px;
}
span {
    border: 4px dashed tomato;
    padding: 8px;
    border-radius: 10%;
}
.check-box{
    justify-content: left;
    display: flex;
    align-items: left;
}
input[type="checkbox"]{
    display: none;
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .check:before{
    transform: translateX(20px);
}
input[type="checkbox"]:checked ~ .check:before{
    background-color: #000;
    box-shadow: 0 0 0 50000px #fff;
}
.check:before,
.check:after {
    border-radius: 50%;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}
.check:before {
    background-color: #fff;
    left: 2px;
}
.check {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in, 
    box-shadow 0.5s ease-in;

    width: 40px;
}
@media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
}